.footer__container {
  background-color: var(--nextui-colors-primary100);
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: center;
  padding: var(--nextui-space-9) 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (width < 650px) {
  .footer {
    display: none;
  }
}

.logo {
  color: var(--nextui-colors-secondary600);
  font-size: var(--nextui-fontSizes-2xl);
  font-weight: var(--nextui-fontWeights-bold);
  align-self: center;
  width: 4rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--nextui-space-21);
  margin-bottom: var(--nextui-space-4);
}

.links__label {
  color: var(--nextui-colors-secondary600);
  font-weight: bold;
  display: inline-block;
  margin-bottom: var(--nextui-space-9);
}

.links ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  width: 4rem;
}

.links li:not(:last-child) {
  margin-bottom: var(--nextui-space-4);
}

.link {
  color: var(--nextui-colors-secondary600);
  text-decoration: none;
}

.link:hover {
  color: var(--nextui-colors-secondary100);
}

.authoring {
  color: var(--nextui-colors-secondary600);
  font-size: var(--nextui-fontSizes-sm);
  font-weight: var(--nextui-fontWeights-normal);
}

.divider {
  border-left: var(--nextui-borderWeights-light) solid
    var(--nextui-colors-secondary600);
  height: 100%;
}
