.navbar {
  position: fixed;
  width: 100vw;
  height: 4rem;
  z-index: var(--nextui-zIndices-2);
}

.bar {
  display: flex;
  justify-content: center;
  height: 4rem;
  background-color: var(--nextui-colors-primary100);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--nextui-space-9);
  align-items: center;
  padding: 0 var(--nextui-space-9);
}

/* Left elements */

.left__elements {
  display: flex;
  flex-direction: row;
  gap: var(--nextui-space-9);
  align-items: center;
}

.logo__image__big {
  display: block;
}

.logo__image__small {
  display: none;
}

@media screen and (width < 765px) {
  .logo__image__big {
    display: none;
  }
  .logo__image__small {
    display: block;
  }
}

.toggle {
  display: flex;
  align-items: center;
  border: 0;
  background-color: var(--nextui-colors-primary100);
  color: var(--nextui-colors-secondary600);
  cursor: pointer;
}

.toggle:hover {
  color: var(--nextui-colors-secondary100);
}

@media screen and (width >= 765px) {
  .toggle {
    display: none;
  }
}

/* 
    Right elements 
*/

.right__elements {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--nextui-space-9);
}

@media screen and (width < 460px) {
  .right__elements {
    gap: 0;
  }
}

.new__recipe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 3rem;
  width: 3rem;
  padding: var(--nextui-space-4);
  font-weight: var(--nextui-fontWeights-bold);
  background-color: var(--nextui-colors-accent100);
  color: white;
  border: none;
  border-radius: var(--nextui-radii-rounded);
  top: 5.4rem;
  right: 1.75rem;
}

.new__recipe__btn:hover {
  cursor: pointer;
  background-color: var(--nextui-colors-accent200);
}

@media screen and (width >= 765px) {
  .new__recipe__btn {
    display: none;
  }
}

.search {
  height: 2rem;
  border-radius: var(--nextui-radii-lg);
  border: none;
  background-color: var(--nextui-colors-primary300);
  width: 100%;
  padding-left: var(--nextui-space-9);
  font-size: var(--nextui-fontSizes-sm);
  line-height: var(--nextui-lineHeights-6xl);
}

@media screen and (width < 425px) {
  .search {
    width: 30vw;
  }
}

@media screen and (width < 345px) {
  .search {
    width: 25vw;
  }
}

.search:hover {
  background-color: var(--nextui-colors-primary400);
}

.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (width <= 765px) {
  .links {
    display: none;
  }
}

.links__col {
  padding: var(--nextui-space-5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.theme__button__container {
  padding: 0;
  margin-left: var(--nextui-space-5);
}

.theme__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background-color: var(--nextui-colors-primary300);
  border: none;
  border-radius: var(--nextui-radii-rounded);
  cursor: pointer;
}

.theme__button:hover {
  background-color: var(--nextui-colors-primary400);
}

.link {
  font-size: var(--nextui-fontSizes-sm);
  color: var(--nextui-colors-secondary600);
  text-decoration: none;
}

.link:hover {
  color: var(--nextui-colors-secondary100);
}

.logout__button {
  font-size: var(--nextui-fontSizes-sm);
  color: var(--nextui-colors-secondary600);
  text-decoration: none;
  border: 0;
  padding: 0;
  background-color: var(--nextui-colors-primary100);
  cursor: pointer;
}

.logout__button:hover {
  color: var(--nextui-colors-secondary100);
}

.avatar {
  width: max-content;
}

.avatar:hover {
  opacity: 0.75;
}
