.navbar {
  position: fixed;
  width: 100vw;
  height: 4rem;
  z-index: var(--nextui-zIndices-1);
}

.bar {
  display: flex;
  justify-content: center;
  height: 4rem;
  background-color: var(--nextui-colors-primary100);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--nextui-space-13);
  align-items: center;
  padding: 0 var(--nextui-space-9);
}

/* Left elements */

.left__elements {
  display: flex;
  flex-direction: row;
  gap: var(--nextui-space-9);
  align-items: center;
}

.logo {
  font-size: var(--nextui-fontSizes-2xl);
  font-weight: var(--nextui-fontWeights-bold);
}

.toggle {
  display: flex;
  align-items: center;
  border: 0;
  background-color: var(--nextui-colors-primary100);
  color: var(--nextui-colors-secondary600);
  cursor: pointer;
}

.toggle:hover {
  color: var(--nextui-colors-secondary100);
}

@media screen and (width >= 650px) {
  .toggle {
    display: none;
  }
}

/* 
    Right elements 
*/

.right__elements {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--nextui-space-9);
}

.search {
  height: 2rem;
  border-radius: var(--nextui-radii-lg);
  border: none;
  background-color: var(--nextui-colors-primary300);
  width: 100%;
  padding-left: var(--nextui-space-9);
  font-size: var(--nextui-fontSizes-sm);
  line-height: var(--nextui-lineHeights-6xl);
}

.links {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

@media screen and (width <= 650px) {
  .links {
    display: none;
  }
}

.links__row {
  padding: var(--nextui-space-9);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.link {
  font-size: var(--nextui-fontSizes-sm);
  color: var(--nextui-colors-secondary600);
  text-decoration: none;
}

.link:hover {
  color: var(--nextui-colors-secondary100);
}

.logout__button {
  font-size: var(--nextui-fontSizes-sm);
  color: var(--nextui-colors-secondary600);
  text-decoration: none;
  border: 0;
  padding: 0;
  background-color: var(--nextui-colors-primary100);
  cursor: pointer;
}

.logout__button:hover {
  color: var(--nextui-colors-secondary100);
}

.avatar {
  border: var(--nextui-borderWeights-normal) solid
    var(--nextui-colors-primary100);
}

.avatar:hover {
  border: var(--nextui-borderWeights-normal) solid
    var(--nextui-colors-secondary100);
}
