.toggle__menu {
  height: 100vh;
  width: 100vw;
  background-color: var(--nextui-colors-primary100);
  display: flex;
  flex-direction: column;
  padding: var(--nextui-space-15);
  position: fixed;
}

@media screen and (width >= 650px) {
  .toggle__menu {
    visibility: hidden;
  }
}

.in__animation {
  animation: slideInLeft 0.3s ease 0s 1 normal both;
}

.out__animation {
  animation: slideOutRight 0.3s ease 0s 1 normal both;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.links {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: var(--nextui-space-9);
  padding-bottom: var(--nextui-space-9);
}

.links li:not(:last-child) {
  margin-bottom: var(--nextui-space-4);
}

.link {
  font-size: var(--nextui-fontSizes-md);
  color: var(--nextui-colors-secondary600);
}

.link:hover {
  color: var(--nextui-colors-secondary100);
}

.user__info__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: var(--nextui-space-9);
}

.avatar:hover {
  opacity: 0.75;
}

.nickname {
  font-size: var(--nextui-fontSizes-xl);
  font-weight: var(--nextui-fontWeights-bold);
  color: var(--nextui-colors-secondary600);
  margin-top: var(--nextui-space-4);
  margin-bottom: var(--nextui-space-2);
}

.nickname:hover {
  color: var(--nextui-colors-secondary100);
}

.username {
  font-size: var(--nextui-fontSizes-sm);
  color: var(--nextui-colors-secondary600);
  margin-top: 0;
  margin-bottom: 0;
}

.username:hover {
  color: var(--nextui-colors-secondary100);
}

.divider {
  border-top: var(--nextui-borderWeights-light) solid
    var(--nextui-colors-border);
  width: 100%;
}

.logout__button {
  font-size: var(--nextui-fontSizes-lg);
  color: var(--nextui-colors-secondary600);
  text-decoration: none;
  border: 0;
  padding: 0;
  background-color: var(--nextui-colors-primary100);
  cursor: pointer;
}

.logout__button:hover {
  color: var(--nextui-colors-secondary100);
}
