.button {
  background-color: var(--nextui-colors-accent300);
  color: var(--nextui-colors-primary100);
  border: none;
  border-radius: var(--nextui-radii-xs);
  padding: var(--nextui-space-6) var(--nextui-space-10);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: var(--nextui-colors-accent400);
}
