.button {
  background-color: var(--nextui-colors-accent100);
  color: white;
  border: none;
  border-radius: var(--nextui-radii-xs);
  padding: var(--nextui-space-6) var(--nextui-space-10);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: var(--nextui-fontWeights-bold);
}

.button:hover {
  cursor: pointer;
  background-color: var(--nextui-colors-accent200);
}

.button:disabled {
  background-color: var(--nextui-colors-gray300);
}

.button:disabled:hover {
  background-color: var(--nextui-colors-gray300);
  cursor: default;
}
