.title__sm {
  font-size: var(--nextui-fontSizes-xl);
  font-weight: var(--nextui-fontWeights-bold);
}

.title__md {
  font-size: var(--nextui-fontSizes-2xl);
  font-weight: var(--nextui-fontWeights-bold);
}

.title__lg {
  font-size: var(--nextui-fontSizes-3xl);
  font-weight: var(--nextui-fontWeights-bold);
}

.title__xl {
  font-size: var(--nextui-fontSizes-4xl);
  font-weight: var(--nextui-fontWeights-bold);
}
