html,
body {
  margin: 0;
  padding: 0;
  background-image: url(../../public/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

@media screen and (width <= 650px) {
  html,
  body {
    margin: 0;
    padding: 0;
    background-image: none;
  }
}

.container {
  width: 90%;
}
