.navbar {
  display: flex;
  position: sticky;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  padding: 0 1rem;
  height: 4rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (width < 650px) {
  .container {
    width: 100%;
  }
}
@media screen and (width >= 650px) {
  .container {
    width: 650px;
  }
}
@media screen and (width >= 960px) {
  .container {
    width: 960px;
  }
}
@media screen and (width >= 1280px) {
  .container {
    width: 1280px;
  }
}
@media screen and (width >= 1400px) {
  .container {
    width: 1400px;
  }
}

/* 
    Left elements 
*/

.left__elements {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.toggle {
  display: flex;
  align-items: center;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

@media screen and (width >= 650px) {
  .toggle {
    display: none;
  }
  .toggle__menu {
    visibility: hidden;
  }
}

.toggle__menu {
  z-index: -1;
  height: 100vh;
  width: 30vw;
  background-color: #5a515a;
  display: flex;
  justify-content: center;
  position: fixed;
  animation: slideInLeft 0.5s ease 0s 1 normal both;
}

.in__animation {
  animation: slideInLeft 0.3s ease 0s 1 normal both;
}

.out__animation {
  animation: slideOutRight 0.3s ease 0s 1 normal both;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.toggle__links {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.toggle__link {
  margin: 0.5rem;
}

.toggle__link a {
  color: white;
}

.toggle__avatar {
  display: block;
}

/* 
    Right elements 
*/

.right__elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search__icon {
  height: 2.1rem;
  line-height: 2.1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  padding: 0 0.6rem;
  background-color: lightgrey;
  cursor: pointer;
}
.e {
  vertical-align: middle;
  display: inline-block;
}

.search__input {
  height: 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: none;
  background-color: lightgrey;
  width: 20vw;
}

.search__input:focus {
  outline: none;
}

.links {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

@media screen and (width <= 650px) {
  .links {
    display: none;
  }
}

.link {
  float: left;
  padding: 1rem;
}

.avatar {
  display: block;
}

@media screen and (width <= 650px) {
  .avatar {
    display: none;
  }
}
