.recipe__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  width: 200px;
  padding-top: 0;
}

.image__container {
  height: 150px;
  width: 200px;
  position: relative;
}

.image {
  object-fit: cover;
  border-top-right-radius: var(--nextui-radii-sm);
  border-top-left-radius: var(--nextui-radii-sm);
}

.info {
  padding: 10px;
}

.divider {
  border-left: var(--nextui-borderWeights-light) solid
    var(--nextui-colors-secondary600);
  height: 20px;
}

.name {
  font-size: var(--nextui-fontSizes-md);
  font-weight: var(--nextui-fontWeights-bold);
  color: var(--nextui-colors-secondary600);
  margin-bottom: 5px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.valoration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 2.5rem;
}

.time {
  width: 2.5rem;
}

.difficulty {
  width: 2.5rem;
}
