.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--nextui-space-7);
}

.sections {
  width: 100%;
}

.section {
  margin: var(--nextui-space-5) 0;
}

.section__title {
  font-size: var(--nextui-fontSizes-md);
  font-weight: var(--nextui-fontWeights-medium);
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: var(--nextui-space-5) 0;
  gap: var(--nextui-space-5);
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 5rem;
  gap: var(--nextui-space-3);
  font-size: var(--nextui-fontSizes-sm);
}

.checkbox input:hover {
  cursor: pointer;
}

.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: var(--nextui-space-5) 0;
  gap: var(--nextui-space-5);
}

.slider__label {
  color: var(--nextui-colors-secondary600) !important;
}

.apply__btn {
  display: flex;
  width: 100%;
  padding: 0;
  height: 2rem;
  font-size: var(--nextui-fontSizes-sm);
}
