.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  margin: var(--nextui-space-15) auto;
}

@media screen and (width < 650px) {
  .card {
    box-shadow: none;
    background-color: transparent;
  }
}
