.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: var(--nextui-space-15);
}

.filterbox__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--nextui-space-12);
  background-color: var(--nextui-colors-background);
  margin: 0;
  flex: 1;
}

.list__container {
  display: flex;
  flex: 4;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list__elements {
  display: grid;
  grid-template-columns: repeat(auto-fill, 11.25rem);
  justify-content: center;
  width: 100%;
  grid-gap: var(--nextui-space-13);
  margin: var(--nextui-space-15) 0;
}

.pagination {
  z-index: var(--nextui-zIndices-1);
}

.empty__msg {
  margin: var(--nextui-space-10) 0;
}
