.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--nextui-space-9);
  padding: var(--nextui-space-15);
}

@media screen and (width <= 765px) {
  .container {
    padding: 0;
  }
}
