.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  width: 25rem;
}

.title {
  margin: 0;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.field__label {
  display: block;
}

.text__input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #e8e8e8;
}

.checkbox__container {
  align-self: flex-start;
  font-size: 0.75rem;
}

.checkbox {
  vertical-align: middle;
}

.error__msg {
  color: red;
  font-size: 0.75rem;
  margin: 0;
}

.show__more {
  color: blue;
  cursor: pointer;
}
