.form__card {
  max-width: 25rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--nextui-space-15) var(--nextui-space-19);
}

.title {
  margin: 0;
  margin-bottom: var(--nextui-space-9);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--nextui-space-7);
  width: 100%;
}

.divider {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  margin: var(--nextui-space-7) auto;
  border-top: var(--nextui-borderWeights-light) solid
    var(--nextui-colors-border);
}

.divider__text {
  position: absolute;
  top: -0.8rem;
  left: 46.15%;
  right: 46.15%;
  background-color: var(--nextui-colors-primary100);
  padding: 0 var(--nextui-space-2);
  font-size: var(--nextui-fontSizes-sm);
}

.session__msg {
  font-size: var(--nextui-fontSizes-xs);
  margin: 0;
  margin-top: var(--nextui-space-9);
  text-align: center;
}

.session__link {
  text-decoration: none;
  font-weight: var(--nextui-fontWeights-bold);
  color: var(--nextui-colors-secondary600);
}

.session__link:hover {
  color: var(--nextui-colors-secondary100);
}

/* FIELD */

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--nextui-space-4);
  width: 100%;
}

.field__label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: var(--nextui-borderWeights-bold) solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.label__text {
  transform: translate(0);
  transition: transform 0.15s ease-out, font-size 0.15s ease-out,
    background-color 0.2s ease-out, color 0.15s ease-out;
  font-size: var(--nextui-fontSizes-sm);
  margin-left: var(--nextui-space-2);
  padding: 0 var(--nextui-space-2);
  background-color: transparent;
  color: var(--nextui-colors-secondary600);
}

.input__style {
  font-size: var(--nextui-fontSizes-sm);
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: var(--nextui-space-6);
  border-radius: var(--nextui-radii-xs);
  border: var(--nextui-borderWeights-light) solid
    var(--nextui-colors-primary400);
  background-color: var(--nextui-colors-primary100);
}

.input__style:focus + .field__label .label__text,
:not(.input__style[value='']) + .field__label .label__text {
  background-color: var(--nextui-colors-primary100);
  font-size: var(--nextui-fontSizes-xs);
  color: var(--nextui-colors-secondary600);
  transform: translate(0, -135%);
}

/* CHECKBOX */

.show__password {
  display: flex;
  align-items: center;
  align-self: flex-start;
  font-size: var(--nextui-fontSizes-xs);
  gap: var(--nextui-space-2);
}

.checkbox__text {
  color: var(--nextui-colors-secondary600);
}

.checkbox__container {
  padding-top: 0;
  padding-bottom: var(--nextui-space-1);
}

.checkbox {
  vertical-align: middle;
}

.errors {
  display: flex;
  width: 100%;
  padding-bottom: var(--nextui-space-4);
}

.error__msg {
  color: var(--nextui-colors-red600);
  font-size: var(--nextui-fontSizes-xs);
  margin: 0;
}

.show__more {
  color: var(--nextui-colors-blue600);
  cursor: pointer;
}

.show__more:hover {
  color: var(--nextui-colors-blue500);
}

/* BUTTONS */

.credentials__button {
  width: 100%;
}
